<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('dashboard') }}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class=""></i>
    </div>
    <div class="sidebar-brand-text mx-3">Mental Health Screening</div>
  </a>

  <hr class="sidebar-divider my-0" />

  <li class="nav-item active">
    <a class="nav-link" href="{{ url_for('dashboard') }}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages">
      <i class="fas fa-fw fa-folder"></i>
      <span>Evaluation Form</span>
    </a>
    <div id="collapsePages" class="collapse" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Forms:</h6>
        <a class="collapse-item" href="{{ url_for('edit_evaluation_form') }}">Edit Forms</a>
        <a class="collapse-item" href="{{ url_for('view_forms') }}">View Forms</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('stats') }}">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Statistics</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('results') }}">
      <i class="fas fa-fw fa-table"></i>
      <span>Results</span>
    </a>
  </li>

  <hr class="sidebar-divider d-none d-md-block" />

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
